<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- 解决post请求乱码 --><!-- 在此实例中证明确实要放在最前面，否则会乱码 -->
	<!-- <filter> <filter-name>CharacterEncodingFilter</filter-name> <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
		<init-param> <param-name>encoding</param-name> <param-value>utf-8</param-value> 
		</init-param> </filter> <filter-mapping> <filter-name>CharacterEncodingFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<!-- HiddenHttpMethodFilter是spring3.0之后新增的一个过滤器,可以将post请求转为put和delete请求, 
		对实现rest风格有了更好的支持 -->
	<!-- <filter> <filter-name>HiddenHttpMethodFilter</filter-name> <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>HiddenHttpMethodFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<!-- 注解方式配置xml -->
	<!-- <servlet> <servlet-name>springmvc</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<init-param> <param-name>contextConfigLocation</param-name> <param-value>classpath:*.xml</param-value> 
		</init-param> <load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> 
		<servlet-name>springmvc</servlet-name> <url-pattern>/</url-pattern> </servlet-mapping> -->



	<!-- 设置Spring容器加载配置文件路径 -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:*.xml</param-value>
	</context-param>
	<listener>
		<!-- <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class> -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--webService配置 -->
	<servlet>
		<!-- 随便命名 -->
		<servlet-name>cxfService</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>
	<servlet-mapping>

		<!-- 随便命名,和上面保持一致就行了 -->
		<servlet-name>cxfService</servlet-name>
		<!-- 请求URL:192.168.1.27:8080/cxf_webService_spring_server/webservice -->
		<!-- 192.168.1.27:8080/项目名称/url-pattern -->
		<!-- 注意:url-pattern写的是什么,URL后面就要写什么 -->
		<url-pattern>/webservice/*</url-pattern>
	</servlet-mapping>
</web-app>